* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #424242;
    font-family: 'Ubuntu', sans-serif;
    color: #F1F1F1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 64px;
}

.box {
    background: #212121;
    max-width: 600px;
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.box label {
    margin: 8px 0;
    font-size: 24px;
}

.box input {
    background: #212121;
    color: #F1F1F1;
    border-style: none;
    border-bottom: 2px solid #666;
    margin: 8px 0;
    font-size: 24px;
}

.box #btn-enviar {
    background: #00E676;
    margin: 8px 0;
    font-size: 24px;
    border-style: none;
    padding: 12px
}

.senha-gerada {
    font-size: 24px;
    color: #F1F1F1;
    margin: 8px 0;
}

.box #btn-copiar{
    background: #AA00FF;
    margin: 8px 0;
    font-size: 24px;
    border-style: none;
    padding: 12px
}